/* Color Palette
# - #331D2C
# - #A78295
# - #977b95
# - #EFE1D1
*/

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #efe1d1;
  font-family: "Exo", sans-serif;
  margin: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
    width: 30%; 
    float: left; 
    padding-right: 3%; 
    min-height: 175px;
}

.column-wide {
    width: 70%; 
    float: left; 
    min-height: 225px;
}

.column-wide > p:first-child {
  margin-top: 0;
}

/* Headings
------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 35px;
  margin-top: 0;
}
h3 {
  font-size: 28px;
  margin-top: 0;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

/* Navigation
------------------------------------*/
.navigation {
  text-align: center;
  background-color: #efe1d1;
  position: fixed;
  width: 100%;
}
.navigation a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: 900;
  color:#331d2c;
}
.navigation a:hover {
  background-color: #decec0;
}

/* Header & Footer 
------------------------------------*/
header,
footer {
  background: #331d2c;
  color: #ffffff;
}

/* Header -------- */

header {
  position: relative;
}

header h1,
header h2 {
  margin: 0;
}

header .content-wrap {
  padding-top:100px;
}

.profile-img {
  /* width: 300px; */
  border-radius: 50%;
  /* float: left; */
  /* margin-right: 30px; */
}

/* Footer --------*/
footer a {
  color: #ffffff;
  text-align: center;
}

footer .content-wrap {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A78295;
}

/* Education
------------------------------------*/
.education {
  background-image: linear-gradient(rgba(239, 225, 209, 0.7), rgba(239, 225, 209, 0.7)), url("/images/csun.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; /* center so that image is aligned and not cutting off main part */
  background-size: cover;
}
